.card {
    position: relative;
    height: 100%;
}

.card-body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    > div {
        width: 100%;
    }
}

.profile-page,
.training-page {
    .card-profile {
        margin-top: -120px;
    }

    .card-profile-image,
    .card-training-image {
        position: relative;
        img {
            width: 180px;
            height: 180px;
            border-radius: $border-radius;
            @extend .shadow;
            transform: translate(-50%,-30%);
            position: absolute;
            left: 50%;
            transition: $transition-base;
        }
    }

    .card-profile-stats,
    .card-training-stats {
        padding: 1rem 0;

        > div {
            text-align: center;
            margin-right: 1rem;
            padding: .875rem;

            &:last-child {
                margin-right: 0;
            }

            .heading {
                font-size: 1.1rem;
                font-weight: bold;
                display: block;
            }
            .description {
                font-size: .875rem;
                color: $gray-500;
            }
        }
    }

    .card-training-stats {
        padding-top: 120px;
        @include media-breakpoint-up(md) {
            padding-top: 50px;
        }
        @include media-breakpoint-up(lg) {
            padding: 1rem 0;
        }
    }

    .card-profile-actions,
    .card-training-actions {
        padding: 0;
        height: 76px;
    }

    @include media-breakpoint-down(xs) {
        .card-profile-actions,
        .card-training-actions {
            margin-top: 110px;
        } 
    }

    @include media-breakpoint-between(sm, md) {
        .card-profile-stats {
            margin-top: 30px;
        }
    }
}

// Card with blockquotes

.card {
    .card-blockquote {
        padding: 2rem;
        position: relative;

        .svg-bg {
            display: block;
            width: 100%;
            height: 95px;
            position: absolute;
            top: -94px;
            left: 0;
        }
    }
}

// Animated cards

.card-lift--hover {
    &:hover {
        transform: translateY(-20px);
        @include transition($transition-base);
    }
}